/*
    last modified 21.02.2013

    structure
        - authors list
*/

/* ----------------------------------------------- authors list ------------------------------------------------------*/

.authors-list {
    padding-top: 66px;
    margin: 0 auto;
}

.authors-list__header {
    position: relative;
    min-height: 183px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 94px;
}

.authors-list__header-text {
    font: bold 50px 'AvantGardeGothicC-Bold';
    color: #ff3e64;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 124px;
}

.authors-list__label {
    position: absolute;
    top: 110px;
    color: #000;
    font: bold 16px 'AvantGardeGothicC-Bold';
    text-transform: uppercase;
    left: 50%;
    margin-left: -44px;
}

.authors-list__label:after {
    position: absolute;
    right: -24px;
    top: 5px;
    width: 11px;
    height: 9px;
    background: url(/img/main/authors-list-popup-arrows.png) 0 0;
    content: '';
}

.authors-list__label_opened:after {
    background-position: 0 -19px;
}

.authors-list__jobs {
    position: relative;
}

.authors-list__jobs_opened {
    display: block;
}
/*
.authors-list__jobs:before {
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -11px;
    width: 23px;
    height: 11px;
    background: url(/img/main/authors-list-arrow.png) 0 0 no-repeat;
    content: '';
}
*/

.authors-list__jobs-list {
    padding: 37px 0 37px 0;
}

.authors-list__jobs-list {
    display: none;
    background-color: #f5f5f5;
    padding-left: 43px;
    position: relative;
}

.authors-list__jobs-list:before {
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -11px;
    width: 23px;
    height: 11px;
    background: url(/img/main/authors-list-arrow.png) 0 0 no-repeat;
    content: '';
}

.authors-list__jobs-list_view,
.authors-list__jobs-list_style,
.authors-list__jobs-list_genre {

}

.authors-list__jobs-list-column {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 13%;
}

.authors-list__jobs-list-item {
    text-transform: uppercase;
    margin-right: 1px;
    line-height: 25px;
    display: inline-block;
    width: 16%;
}

.authors-list__jobs-list-item-href {
    color: #000 !important;
    font: bold 12px 'AvantGardeGothicC-Bold';
    text-decoration: none;
}

.authors-list__wrap {
    padding: 0 98px;
    margin-bottom: 40px;
}

.authors-list__content {
    text-align: center;
}

.authors-list__new {
    width: 61px;
    margin: 0 auto 15px auto;
    background: #ff3e64;
    color: #fff;
    border-radius: 2px;
    font: bold 10px 'AvantGardeGothicC-Bold';
    padding: 8px 0 8px 0;
}

.authors-list__content-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    width: 241px;
    margin: 0 0 69px 0;

    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -o-transition: -moz-transform 0.3s, opacity 0.3s;
    -ms-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: -moz-transform 0.3s, opacity 0.3s;
}

.authors-list__content-href {
    text-align: center;
    display: block;
}

.authors-list__content-item-href {
    width: 187px;
    height: 187px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: 34px;
    text-transform: uppercase;
}

.authors-list__content-item_animate {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);

    opacity: 0;
}

.authors-list__content-item-href:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 187px;
    height: 187px;
    background: url(/img/main/authors-list-photo-frame.png);
    content: '';
}

.authors-list__author-name {
    font: bold 18px 'AvantGardeGothicC-Bold';
    color: #000;
    display: block;
    margin-bottom: 26px;
}

.authors-list__author-description {
    font: normal 13px 'MaiolaPro';
    color: #000;
    width: 187px;
    text-transform: none;
    line-height: 19px;
    margin: 0 auto;
}

.authors-list__see-more {
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 0 40px;
    color: #000;
    font: bold 14px 'AvantGardeGothicC-Bold';
    height: 70px;
    line-height: 70px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

.authors-list_see-more-hidden {
    visibility: hidden;
}

.authors-list__label {
    cursor: pointer;
}

.authors-list__filters {
    position: absolute;
    top: 137px;
    left: 50%;
    margin-left: -44px;
    width: 175px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #7f7f7f;
    text-transform: uppercase;
}

.authors-list__sort-popup_filter {
    right: 258px;
}

.authors-list__filters-cancel {

    display: block;
    position: absolute;
    top: 112px;
    right: 42px;
    margin-left: 100px;
    color: #7f7f7f !important;
    text-transform: uppercase;
    padding: 0 0 0 25px;
    background: url(/img/main/filter__item_clear.png) no-repeat;
    height: 18px;
    line-height: 18px;
}

.authors-list__preloader {
    height: 50px;
    position: absolute;
    width: 137px;
    margin-left: -68.5px;
    bottom: 123px;
    left: 50%;
    background: url("/img/main/gallery__preloader.gif") no-repeat left center;
}

.filter__menu-lnk_active {
    color: #a3a3a3 !important;
}

/* -----------------------------------------------/ authors list ------------------------------------------------------*/